<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis possimus nemo officiis dolorem est necessitatibus, corrupti sint similique placeat sapiente consequuntur repudiandae, adipisci nihil maxime fugit laborum corporis! Ducimus, fugit!
    Impedit rem aspernatur aut accusantium ipsa nulla, sequi nesciunt delectus atque expedita sunt, commodi consequatur ut nisi facere eos quae quo? Cum aut natus incidunt cumque aliquid ipsam necessitatibus quasi?
    Eum, iusto? Quo consequuntur excepturi molestias natus, minima libero deserunt inventore quis autem eum distinctio numquam est, perferendis aperiam a earum quasi rerum harum reiciendis nulla vitae? Voluptatem, voluptates sequi!</p>
</body>
</html>